:root {
  --color-background: #222;
  --circle-size: 90vmin;
  --border-circle: 2px solid var(--color-separator);
  --shadow-circle: 0 0 20px #000;
  --segment-degrees: calc(1turn / 12);
  --color-separator: #333;
  --shadow-text: rgba(51, 51, 51, 0.5);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  overflow: hidden;
  background: var(--color-background);
}

.circle {
  position: relative;
  height: var(--circle-size);
  width: var(--circle-size);
  background: var(--color-separator);
  border: var(--border-circle);
  border-radius: 50%;
  overflow: hidden;
  transform: rotate(
    calc(
      var(--segment-degrees) * var(--centre-key) * -1 + var(--segment-degrees) /
        -2
    )
  );
  box-shadow: var(--shadow-circle);
  text-shadow: 0 1px 2px var(--shadow-text);
}

.circle::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 15vmin;
  height: 15vmin;
  background: var(--color-background);
  border: var(--border-circle);
  border-radius: 50%;
  box-shadow: inset var(--shadow-circle);
  transform: translate(-50%, -50%);
  content: "";
}

.segment {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 50%;
  border: 1.5px solid var(--color-separator);
  transform: rotate(calc(var(--segment-degrees) * var(--index))) skewY(-60deg);
  transform-origin: 0 100%;
  overflow: hidden;
  cursor: pointer;
}

.segment > .keys {
  position: absolute;
  top: 0;
  left: -100%;
  display: inline-block;
  width: 200%;
  height: 200%;
  margin: 0;
  border-radius: 50%;
  transform: skewY(60deg) rotate(15deg);
  text-align: center;
}

.key {
  --saturation-factor: 0.3;
  --luminosity-factor: 0.7;
  --color-text: rgba(34, 34, 34, 0.8);
  position: absolute;
  top: 50%;
  left: 50%;
  border: 2px solid var(--color-separator);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  color: var(--color-text);
  font-weight: bold;
}

.segment--selected .key:not(.diminished),
.segment--centre .key.diminished {
  --saturation-factor: 1;
  --luminosity-factor: 1;
  --color-text: #222;
}

.key.major {
  width: 100%;
  height: 100%;
  padding: 3vmin 0;
  background: hsl(
    calc(var(--segment-degrees) * var(--index)),
    calc(80% * var(--saturation-factor)),
    calc(55% * var(--luminosity-factor))
  );
  font-size: 7vmin;
}

.key.minor {
  width: 66.66%;
  height: 66.66%;
  padding: 4vmin 0;
  background: hsl(
    calc(var(--segment-degrees) * var(--index)),
    calc(80% * var(--saturation-factor)),
    calc(60% * var(--luminosity-factor))
  );
  font-size: 5vmin;
}

.key.diminished {
  width: 33.33%;
  height: 33.33%;
  padding: 2.3vmin 0;
  background: hsl(
    calc(var(--segment-degrees) * var(--index)),
    calc(80% * var(--saturation-factor)),
    calc(65% * var(--luminosity-factor))
  );
  font-size: 2.3vmin;
}
